body {
    background-color: #E8C16E;
    margin-top: 0;
 
}

.topMenu ul {
    padding: 0px;
    height: 40px;
    line-height: 30px;
    background-color: #646464;
    text-align: center;
}

.topMenu li {
    width: 100px;
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
}

    .topMenu li:hover {
        background-color: #DCAA79;
        padding: 5px 0;
    }

.topMenu a {
    text-decoration: none;
    color: #fff;
}

.ContactUsForm fieldset{
    width:30%;
}

.ContactUsForm input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
}

.ContactUsForm input[type=submit] {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align:center;
    width: 370px;
    
}

.ContactUsForm [type=submit]:hover {
    background-color:royalblue;
}

.ContactUsForm fieldset {
    font-family: cursive;
    font-weight: 400;
    border-radius: 15px;
    background-color: #f2f2f2;
    padding: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter:blur(4px);
}

.ContactUsForm legend {
    font-size: 18px;
    font-family: cursive;
    font-weight: 500;
}

#Image{
    overflow:hidden;
    position:relative;
    justify-content:left;
    width:100%;
    height:auto;
}
footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #3c3d3c;
    text-decoration: none;
    text-align: center;
}

    footer ul {
        list-style-type: none;
    }


        footer ul li a {
            color: lightgray;
            text-decoration: none;
        }


